In [1]:
import pandas as pd

# 매치시킬 대여소 근처 역 데이터 로드
match = pd.read_csv('./close_station.csv')
match.head(5)

   Unnamed: 0   번호 대여소근처역
0           0  102     망원
1           1  103     망원
2           2  104     합정
3           3  105     합정
4           4  106     합정

In [2]:
del match['Unnamed: 0']

In [3]:
match

        번호 대여소근처역
0      102     망원
1      103     망원
2      104     합정
3      105     합정
4      106     합정
...    ...    ...
2648  5851    신도림
2649  5852    신도림
2650  5853    여의도
2651  5854    여의도
2652  5855    여의도

[2653 rows x 2 columns]

In [4]:
# 대여소 근처 역 데이터 로드
data = pd.read_csv('./전처리완료.csv')
data.head(5)

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),주말,요일
0,0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,NaN,10대,1,48.30,0.46,1999.70,10,평일,수
1,1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,NaN,10대,1,27.47,0.23,991.00,9,평일,수
2,2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,10대,1,20.63,0.20,868.17,3,평일,수
3,3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,NaN,10대,1,13.97,0.13,560.00,4,평일,수
4,4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,NaN,10대,1,12.15,0.14,590.00,3,평일,수

In [7]:
del data['Unnamed: 0']

In [8]:
df_merge = pd.merge(data,match,left_on='대여소번호',right_on='번호',how='left')
df_merge

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),주말,요일,번호,대여소근처역
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,N,10대,1,48.30,0.46,1999.70,10,평일,수,742.0,등촌
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,N,10대,1,27.47,0.23,991.00,9,평일,수,2059.0,보라매
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,N,10대,1,20.63,0.20,868.17,3,평일,수,1349.0,광운대
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,N,10대,1,13.97,0.13,560.00,4,평일,수,750.0,신정네거리
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,N,10대,1,12.15,0.14,590.00,3,평일,수,755.0,신목동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3704323,2022-06-30,23,4765,4765. 동대문디자인플라자,정기권,M,N,1,30.12,0.27,1170.00,65,평일,목,4765.0,동대문
3704324,2022-06-30,23,4813,4813. 망우지구대,정기권,M,N,1,63.65,0.65,2820.00,18,평일,목,4813.0,망우
3704325,2022-06-30,23,4564,4564. 63스퀘어,정기권,M,N,1,65.64,0.51,2210.00,15,평일,목,4564.0,노량진
3704326,2022-06-30,23,263,263. 근로자회관 사거리,정기권,M,N,1,38.81,0.23,980.00,16,평일,목,263.0,문래
3704327,2022-06-30,23,1308,1308. 안암로터리 버스정류장 앞,정기권,M,N,1,18.53,0.17,720.00,3,평일,목,1308.0,안암

In [9]:
del df_merge['번호']

In [10]:
df_merge

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),주말,요일,대여소근처역
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,N,10대,1,48.30,0.46,1999.70,10,평일,수,등촌
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,N,10대,1,27.47,0.23,991.00,9,평일,수,보라매
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,N,10대,1,20.63,0.20,868.17,3,평일,수,광운대
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,N,10대,1,13.97,0.13,560.00,4,평일,수,신정네거리
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,N,10대,1,12.15,0.14,590.00,3,평일,수,신목동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3704323,2022-06-30,23,4765,4765. 동대문디자인플라자,정기권,M,N,1,30.12,0.27,1170.00,65,평일,목,동대문
3704324,2022-06-30,23,4813,4813. 망우지구대,정기권,M,N,1,63.65,0.65,2820.00,18,평일,목,망우
3704325,2022-06-30,23,4564,4564. 63스퀘어,정기권,M,N,1,65.64,0.51,2210.00,15,평일,목,노량진
3704326,2022-06-30,23,263,263. 근로자회관 사거리,정기권,M,N,1,38.81,0.23,980.00,16,평일,목,문래
3704327,2022-06-30,23,1308,1308. 안암로터리 버스정류장 앞,정기권,M,N,1,18.53,0.17,720.00,3,평일,목,안암

### 동, 상권, 산업종류 최종 병합 ###

In [11]:
dong = pd.read_csv('./상권분석,위경도,동.csv', encoding = 'cp949')
dong.head(5)

   Unnamed: 0  소재지   번호         위도          경도     동                산업종류
0           0  마포구  102  37.555649  126.910629   서교동  사업시설관리 및 사업지원 서비스업
1           1  마포구  103  37.554951  126.910835  망원1동                 건설업
2           2  마포구  104  37.550629  126.914986   서교동  사업시설관리 및 사업지원 서비스업
3           3  마포구  105  37.550007  126.914825   서교동  사업시설관리 및 사업지원 서비스업
4           4  마포구  106  37.548645  126.912826   합정동            금융 및 보험업

In [12]:
del dong['Unnamed: 0']

In [13]:
df_merge['대여소번호'].value_counts()

4217     9364
2715     9046
2102     8943
502      8587
207      8107
         ...
9998        6
5082        4
2391        4
9979        4
99998       1
Name: 대여소번호, Length: 2638, dtype: int64

In [14]:
dong['번호'].value_counts()

4406    2
4876    1
2608    1
2610    1
563     1
       ..
3311    1
1264    1
1266    1
1268    1
2041    1
Name: 번호, Length: 2653, dtype: int64

In [15]:
df_merge2 = pd.merge(df_merge,dong,left_on='대여소번호',right_on='번호',how='left')
df_merge2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,...,이용시간(분),주말,요일,대여소근처역,소재지,번호,위도,경도,동,산업종류
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,N,10대,1,48.30,0.46,...,10,평일,수,등촌,양천구,742.0,37.550732,126.864578,목3동,사업시설관리 및 사업지원 서비스업
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,N,10대,1,27.47,0.23,...,9,평일,수,보라매,동작구,2059.0,37.497078,126.917793,신대방2동,보건업 및 사회복지 서비스업
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,N,10대,1,20.63,0.20,...,3,평일,수,광운대,성북구,1349.0,37.623829,127.050201,번동,금융 및 보험업
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,N,10대,1,13.97,0.13,...,4,평일,수,신정네거리,양천구,750.0,37.512157,126.835625,신정3동,운수업
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,N,10대,1,12.15,0.14,...,3,평일,수,신목동,양천구,755.0,37.537869,126.881409,목5동,보건업 및 사회복지 서비스업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3705472,2022-06-30,23,4765,4765. 동대문디자인플라자,정기권,M,N,1,30.12,0.27,...,65,평일,목,동대문,중구,4765.0,37.568314,127.009461,광희동,도매 및 소매업
3705473,2022-06-30,23,4813,4813. 망우지구대,정기권,M,N,1,63.65,0.65,...,18,평일,목,망우,중랑구,4813.0,37.598778,127.096390,망우본동,운수업
3705474,2022-06-30,23,4564,4564. 63스퀘어,정기권,M,N,1,65.64,0.51,...,15,평일,목,노량진,영등포구,4564.0,37.520710,126.939659,여의동,금융 및 보험업
3705475,2022-06-30,23,263,263. 근로자회관 사거리,정기권,M,N,1,38.81,0.23,...,16,평일,목,문래,영등포구,263.0,37.517151,126.888626,문래동,사업시설관리 및 사업지원 서비스업
3705476,2022-06-30,23,1308,1308. 안암로터리 버스정류장 앞,정기권,M,N,1,18.53,0.17,...,3,평일,목,안암,성북구,1308.0,37.582592,127.028976,안암동,교육 서비스업

In [17]:
df_merge2.isna().sum()

대여일자          0
대여시간          0
대여소번호         0
대여소명          0
대여구분코드        0
성별            0
연령대코드         0
이용건수          0
운동량           0
탄소량           0
이동거리(M)       0
이용시간(분)       0
주말            0
요일            0
대여소근처역     7464
소재지        7464
번호         7464
위도         7464
경도         7464
동          7464
산업종류       7464
dtype: int64

In [27]:
df4 = df_merge2.copy()

In [23]:
df3 = df_merge2[(df_merge2['대여소근처역'].isnull())|(df_merge2['소재지'].isnull())|(df_merge2['번호'].isnull())]
df3

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,...,이용시간(분),주말,요일,대여소근처역,소재지,번호,위도,경도,동,산업종류
169,2022-06-01,0,9999,상담센터,정기권,N,20대,1,1035.06,6.32,...,63,평일,수,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,2022-06-01,0,3219,3219.영등포역 1번출구,정기권,N,20대,1,31.79,0.34,...,9,평일,수,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517,2022-06-01,0,3219,3219.영등포역 1번출구,정기권,M,20대,1,186.10,1.68,...,29,평일,수,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1684,2022-06-01,0,210,210. IFC몰,정기권,M,20대,1,43.20,0.51,...,19,평일,수,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3745,2022-06-01,0,305,305. 종로구청 옆,일일권,M,30대,1,113.60,0.76,...,29,평일,수,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3702318,2022-06-30,21,3219,3219.영등포역 1번출구,정기권,M,40대,1,8.35,0.08,...,3,평일,목,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3702366,2022-06-30,22,3219,3219.영등포역 1번출구,정기권,N,10대,1,20.49,0.16,...,4,평일,목,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3703193,2022-06-30,22,3219,3219.영등포역 1번출구,정기권,M,50대,1,52.69,0.62,...,27,평일,목,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3705402,2022-06-30,23,9999,상담센터,정기권,M,40대,1,119.99,0.70,...,27,평일,목,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3705405,2022-06-30,23,3219,3219.영등포역 1번출구,정기권,M,40대,1,42.62,0.38,...,14,평일,목,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df4

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,...,이용시간(분),주말,요일,대여소근처역,소재지,번호,위도,경도,동,산업종류
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,N,10대,1,48.30,0.46,...,10,평일,수,등촌,양천구,742.0,37.550732,126.864578,목3동,사업시설관리 및 사업지원 서비스업
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,N,10대,1,27.47,0.23,...,9,평일,수,보라매,동작구,2059.0,37.497078,126.917793,신대방2동,보건업 및 사회복지 서비스업
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,N,10대,1,20.63,0.20,...,3,평일,수,광운대,성북구,1349.0,37.623829,127.050201,번동,금융 및 보험업
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,N,10대,1,13.97,0.13,...,4,평일,수,신정네거리,양천구,750.0,37.512157,126.835625,신정3동,운수업
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,N,10대,1,12.15,0.14,...,3,평일,수,신목동,양천구,755.0,37.537869,126.881409,목5동,보건업 및 사회복지 서비스업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3705472,2022-06-30,23,4765,4765. 동대문디자인플라자,정기권,M,N,1,30.12,0.27,...,65,평일,목,동대문,중구,4765.0,37.568314,127.009461,광희동,도매 및 소매업
3705473,2022-06-30,23,4813,4813. 망우지구대,정기권,M,N,1,63.65,0.65,...,18,평일,목,망우,중랑구,4813.0,37.598778,127.096390,망우본동,운수업
3705474,2022-06-30,23,4564,4564. 63스퀘어,정기권,M,N,1,65.64,0.51,...,15,평일,목,노량진,영등포구,4564.0,37.520710,126.939659,여의동,금융 및 보험업
3705475,2022-06-30,23,263,263. 근로자회관 사거리,정기권,M,N,1,38.81,0.23,...,16,평일,목,문래,영등포구,263.0,37.517151,126.888626,문래동,사업시설관리 및 사업지원 서비스업
3705476,2022-06-30,23,1308,1308. 안암로터리 버스정류장 앞,정기권,M,N,1,18.53,0.17,...,3,평일,목,안암,성북구,1308.0,37.582592,127.028976,안암동,교육 서비스업

In [29]:
df4.dropna(axis=0, inplace=True)

In [30]:
df4.to_csv('final_final.csv', index = False)